<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${title}">Title</title>
<style type="text/css" rel="stylesheet">
        .wrap{margin:0 auto;width:750px; color:#db7093;} 
        .img{position:relative;width:100px;left:30%;}
        .wrap1{background: #eeeed1}
        .wordCenter{position:relative;left:40%;}        
</style>
</head>
<body>
	<div class="wrap" >   
        <fieldset class="wrap1">
        	<h1 class="wordCenter" text="登录测试"> <a href = "/api/v1/user/page/logout"> 退出登录</a>
			<h1 th:text="${status}">成功</h1>
			<h1>www.nonword.com</h1>
			<video controls poster="/image/达芬牛.jpg">
			   <source src="/video/止战之殇.mp4" type="video/mp4">
			</video>
        </fieldset>
      </div>
</body>
</html>